.texto-rojo {
  color: red;

  font-size: 40px;
  text-decoration: underline;
}

.parrafo {
  color: green;
  font-size: 32px;
}

.modal-container {
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.3);

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  opacity: 0;
}

#modal {
  width: 400px;
  height: 300px;
  background-color: white;
  border-radius: 16px;
  padding: 16px;
}

.modal-active {
  visibility: visible;
  opacity: 1;
}

.invalido {
  border: 2px solid red;
}
